@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* ===============================
   CSS VARIABLES
================================ */
:root {
  --primary: #3E2723;
  /* Dark Walnut */
  --secondary: #E6D5C3;
  /* Warm Beige */
  --accent: #C9A24D;
  /* Gold */
  --background: #FAF7F2;
  /* Soft Cream */
  --text: #2B2B2B;
  /* Charcoal */
}

/* ===============================
   SCROLLBAR
================================ */
::-webkit-scrollbar {
  width: 6px;
}
=======
/* :root {
  --primary: #3E2723;     
  --secondary: #E6D5C3;   
  --accent: #C9A24D;     
  --background: #FAF7F2;  
  --text: #2B2B2B; 
} */
>>>>>>> origin/Home-Page

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 20px;
}

/* Custom scrollbar for checkout order summary */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #FAF7F2;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E6D5C3;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #C9A24D;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

<<<<<<< HEAD
/* ===============================
   HERO BACKGROUND
================================ */
.hero-pattern {
  background-image: radial-gradient(#E6D5C3 1.5px, transparent 1px);
  background-size: 24px 24px;
}

/* ===============================
   MEDIA QUERIES
================================ */

/* Tablet */
=======
/* Background banner dots for Home Page */
.hero-pattern {
  background-image: radial-gradient(#e6d5c3 1.5px, transparent 1px);
  background-size: 24px 24px;
}

/* Payment Method */
.custom-radio:checked + div {
  border-color: #4a3426;
  background-color: #f5f1ed;
  color: #4a3426;
}
.custom-radio:checked + div .radio-icon {
  color: #4a3426;
}
.custom-radio:checked + div .check-mark {
  opacity: 1;
  transform: scale(1);
}



/* MEDIA QUERIES:- */
>>>>>>> origin/Home-Page
@media (max-width: 900px) and (min-width: 440px) {
  .optionsHome {
    grid-template-columns: repeat(2, 1fr);
  }
}

<<<<<<< HEAD
/* Mobile */
@media (max-width: 439px) {
  .optionsHome {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Small screens */
=======
>>>>>>> origin/Home-Page
@media (max-width: 480px) {
  .homeBtn {
    flex-direction: column;
  }
<<<<<<< HEAD
}
=======
}

@media (max-width: 439px) {
  .optionsHome {
    grid-template-columns: repeat(1, 1fr);
  }
}
>>>>>>> origin/Home-Page
